.app.light {
  --bg-color: rgb(220 220 220);
  --inverted-bg-color: rgb(74 74 74);
  --primary-color: #252323;
  --secondary-color: rgb(44 44 44);
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
